@charset "UTF-8";
* {
  position: relative;
  font-family: "Roboto Condensed", sans-serif, "微軟正黑體";
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC954;
}

#buylist {
  background-color: #f3f3f3;
  font-weight: 600;
  padding: 10px;
}

h1 {
  padding: 20px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  background-color: #FF3D4A;
  color: #f3f3f3;
  font-size: 30px;
  font-weight: 900;
}

.control_panel {
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  border: solid 3px #444;
}
.control_panel label {
  padding: 2px;
  margin: 4px;
}
.control_panel .addbtn {
  margin-left: 8px;
  padding: 2px;
  font-size: 18px;
  cursor: pointer;
}
.control_panel .addbtn:hover {
  background-color: #FF3D4A;
  color: #f3f3f3;
}
.control_panel input {
  width: 100px;
}

#items_list {
  margin: 5px;
  margin-top: 15px;
  list-style: none;
}
#items_list .buy_item {
  border: solid 2px #444;
  padding: 5px;
  margin: 5px;
}
#items_list .price {
  display: inline-block;
  position: absolute;
  right: 50px;
  background-color: #FFC954;
}
#items_list .del_btn {
  display: inline-block;
  font-size: 18px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
#items_list .del_btn:hover {
  background-color: #FF3D4A;
  color: #f3f3f3;
}
#items_list .total {
  background-color: #FF3D4A;
  color: #f3f3f3;
  font-weight: 520;
  margin-top: 10px;
  letter-spacing: 2px;
}
#items_list .total .price {
  background-color: transparent;
}
